.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600 !important;
  color:#A9A9A9		 !important;
  padding: 1.5rem;
}

.searchBox{
  margin: 0, auto;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #F5FFFA	;
}

.searchBox:focus{
  outline: none;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600 !important;
  color:#A9A9A9		 !important;
}

#root{
  height: 100vh;
  background-color: #F0FFF0;
}

.gifContainer{
  border: 2px solid red;
}

.gifBox{
  padding: 1rem;
}

